body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f9fa;
}

.logo {
    
    padding-top:  0px 20px;
    background-color: #ffffff;
    border-bottom: 5px solid #000000;
    position: sticky; 
    top: 0;          
    z-index: 100; 
}

.footer {
    
    text-align: center;
    padding-bottom:  0px 20px;
    background-color: #ffffff;
    border-top: 5px solid #000000;
    position: sticky; 
    top: 0;          
    z-index: 100; 
}

.content {
    display: flex;
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-height: calc(100vh - 40px - 5px - 20px - 20px);
    padding-top: 10px; 
    padding-bottom: 20px;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #ffffff;
    position: sticky; 
    top: 20px;       
    height: fit-content;
    align-self: flex-start; 

}


.sidebar h2,
.sidebar h3,
.sidebar h4, 
.sidebar a { 
    white-space: nowrap;        
    overflow: hidden;            
    text-overflow: ellipsis;     
    display: block;              
}

.main {
    flex-grow: 1;
    padding: 20px;
    line-height: 1.6;
    min-height: 0%;
    border-left: 2px solid #00000059;  
    border-right: 2px solid #00000059; 
}

.anchors {
    text-align: left;
    width: 300px;
    padding: 30px;
    border-left: 20 solid #ddd;
    background-color: #ffffff;
    position: sticky; 
    top: 20px;      
    height: fit-content; 
    align-self: flex-start;
}


.anchors a {
    white-space: nowrap;       
    overflow: hidden;           
    text-overflow: ellipsis;     
    display: block;              
}


/* imagem com as raças do jogo */
#img1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

/* imagem com logo do jogo*/
#img2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* imagem com criação de personagem*/
#img3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

/* imagem com modos de jogo*/
#img4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*imagem dos simbolos das funções de classe */
#img5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}